# NOTES
* we're doing the whole NLP process today

### Data Acquisition

In [7]:
import pandas as pd
original = pd.read_csv('economic_news.csv', encoding = 'ISO-8859-1')
required_data = original[['text', 'relevance']]
required_data

                                                   text relevance
0     NEW YORK -- Yields on most certificates of dep...       yes
1     The Wall Street Journal Online</br></br>The Mo...        no
2     WASHINGTON -- In an effort to achieve banking ...        no
3     The statistics on the enormous costs of employ...        no
4     NEW YORK -- Indecision marked the dollar's ton...       yes
...                                                 ...       ...
7995  Secretary of Commerce Charles W. Sawyer said y...       yes
7996  U.S. stocks inched up last week, overcoming co...        no
7997  Ben S. Bernanke cleared a key hurdle Thursday ...        no
7998  The White House's push to contract out many fe...        no
7999  NEW YORK. April 17-Automobile stocks put on th...        no

[8000 rows x 2 columns]

Removing invalid labels from the dataset based on a condition

In [8]:
required_data.drop(required_data.loc[required_data['relevance'] == "not sure"].index, inplace = True)
required_data['relevance'].value_counts()

relevance
no     6571
yes    1420
Name: count, dtype: int64

Largest class should be less than 2x smallest class

### Text Cleaning and Pre Processing

In [21]:
import spacy
nlp = spacy.load('en_core_web_sm')
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

In [19]:
sample_doc = nlp("Hi, I like 3 Nolan's, two Cameron's & 12 Spielberg's movies.")
for token in sample_doc:
    #print(f"token: {token}\t\t| is punct? {token.is_punct}\t\t| like num? {token.like_num}\t\t| is digit? {token.is_digit}")
    print(f"{token}\t\t{token.is_stop}")

Hi		False
,		False
I		True
like		False
3		False
Nolan		False
's		True
,		False
two		True
Cameron		False
's		True
&		False
12		False
Spielberg		False
's		True
movies		False
.		False

In [ ]:
def clean_preprocess(text):
    # Lowercase
    text = text.lower()
    # Remove unwanted/weird characters
    text = text.replace('</br>', ' ')
    # Remove punctuation and digits
    doc = nlp(text)
    text = [token.text for token in doc if (not token.is_punct) and (not token.like_num)]
    # remove stop words
    ## SPACY
    # text = [token.text for token in doc if (not token.is_stop)]
    ## SCIKIT
    text = [word for word in text if word not in ENGLISH_STOP_WORDS]
    processed_text = text
    return processed_text

### Feature Engineering or Text Representation

### Building a Model

### Evaluating the Model